.container{
    width: 100%;
    padding: 0;
    margin: 0;
    height: max-content;
   
}
.header{
    width: 100%;
    max-height: 400px;
   
}
.landingimg{
    width: 100% !important;
    max-height: 400px;
}
.profileimg{
    width: 20%!important;
    max-height: 20% !important;
    top: 47%;
    left: 55%;
    position: absolute;
}
.content{
    width: 60%;

}
.dp{
    height: 40%;
    width: 50%!important;
    border-radius: 50% !important;
    
}